body{
  background-color: #FDFDFD;
  text-align: center;
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}
button{
  text-align: center;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}
a{
  text-decoration: none;
}
