body{
  background-color: #FDFDFD;
  text-align: center;
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}
button{
  text-align: center;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}
a, a:visited, a:hover, a:active{
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  -webkit-tap-highlight-color: transparent;
}
a:hover .bottom-section-m{
  display: block;
}
a{
  all: unset;
  display: block;
}
