@media (max-width: 767px){
  @layer properties;
  .m-0{
    margin: 0;
  }
  .mx-\[5px\] {
    margin-inline: 5px;
  }
  .mx-\[10px\] {
    margin-inline: 10px;
  }
  .my-\[3px\] {
    margin-block: 3px;
  }
  .my-\[4px\] {
    margin-block: 4px;
  }
  .my-\[7px\] {
    margin-block: 7px;
  }
  .my-\[80px\] {
    margin-block: 80px;
  }
  .mt-\[-20px\] {
    margin-top: -20px;
  }
  .mt-\[5px\] {
    margin-top: 5px;
  }
  .mt-\[50px\] {
    margin-top: 50px;
  }
  .mt-\[76px\] {
    margin-top: 76px;
  }
  .mt-\[120px\] {
    margin-top: 120px;
  }
  .mb-\[-10px\] {
    margin-bottom: -10px;
  }
  .mb-\[-30px\] {
    margin-bottom: -30px;
  }
  .mb-\[80px\] {
    margin-bottom: 80px;
  }
  .flex {
    display: flex;
  }
  .grid {
    display: grid;
  }
  .h-\[40px\] {
    height: 40px;
  }
  .h-\[215px\] {
    height: 215px;
  }
  .flex-1 {
    flex: 1;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid-cols-\[1fr_2fr_1fr\] {
    grid-template-columns: 1fr 2fr 1fr;
  }
  .flex-col {
    flex-direction: column;
  }
  .items-center {
    align-items: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-start {
    justify-content: flex-start;
  }
  .gap-\[10px\] {
    gap: 10px;
  }
  .rounded-\[6px\] {
    border-radius: 6px;
  }
  .rounded-\[15px\] {
    border-radius: 15px;
  }
  .rounded-\[100px\] {
    border-radius: 100px;
  }
  .border {
    border-style: var(--tw-border-style);
    border-width: 1px;
  }
  .border-0 {
    border-style: var(--tw-border-style);
    border-width: 0px;
  }
  .border-\[0\] {
    border-style: var(--tw-border-style);
    border-width: 0;
  }
  .border-solid {
    --tw-border-style: solid;
    border-style: solid;
  }
  .bg-\[blue\] {
    background-color: blue;
  }
  .bg-\[white\] {
    background-color: white;
  }
  .px-\[3px\] {
    padding-inline: 3px;
  }
  .px-\[10px\] {
    padding-inline: 10px;
  }
  .px-\[13px\] {
    padding-inline: 13px;
  }
  .py-\[4px\] {
    padding-block: 4px;
  }
  .py-\[38px\] {
    padding-block: 38px;
  }
  .pb-\[8px\] {
    padding-bottom: 8px;
  }
  .pb-\[10px\] {
    padding-bottom: 10px;
  }
  .text-center {
    text-align: center;
  }
  .text-\[12px\] {
    font-size: 12px;
  }
  .text-\[13px\] {
    font-size: 13px;
  }
  .text-\[14px\] {
    font-size: 14px;
  }
  .text-\[18px\] {
    font-size: 18px;
  }
  .text-\[30px\] {
    font-size: 30px;
  }
  .leading-\[15px\] {
    --tw-leading: 15px;
    line-height: 15px;
  }
  .font-\[550\] {
    --tw-font-weight: 550;
    font-weight: 550;
  }
  .font-\[700\] {
    --tw-font-weight: 700;
    font-weight: 700;
  }
  .text-\[white\] {
    color: white;
  }
  @property --tw-border-style {
    syntax: "*";
    inherits: false;
    initial-value: solid;
  }
  @property --tw-leading {
    syntax: "*";
    inherits: false;
  }
  @property --tw-font-weight {
    syntax: "*";
    inherits: false;
  }
  @layer properties {
    @supports ((-webkit-hyphens: none) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color:rgb(from red r g b)))) {
      *, ::before, ::after, ::backdrop {
        --tw-border-style: solid;
        --tw-leading: initial;
        --tw-font-weight: initial;
      }
    }
  }
}