@media (min-width: 768px){
  .dark{
    color: #E0E0E0;
    background-color: #121212;
    border-color: #555555;
  }

  .intro{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 101px;
    height: 135px;

    font-weight: 700;
    font-size: 23px;

    border-style: solid;
    border-width: 1px;

    background-color: #1D4BCF;
    color: white;
  }


  .handymen-leaderboard-header{
    margin-top: 200px;
    font-size: 30px;
    font-weight: 550;
  }
  .handymen-leaderboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 60px;
  }

  .leaderboard-handyman{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 110vh;
    height: 100px;

    border-style: solid;
    border-width: 1px;
    border-radius: 12px;


    margin-bottom: 15px;
  }
  .leaderboard-handyman:hover{
    cursor: pointer;
    background: #F8F9FA;
    transition: all 0.395s;
  }

  .handyman-left-section, .handyman-middle-section, .handyman-right-section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .handyman-left-section{
    margin-left: -150px;
  }
  .handyman-right-section{
    margin-right: -90px;
  }


  .handyman-profile-picture{
    height: 56px;
  }
  .handyman-name{
    font-size: 23px;
    margin-bottom: 20px;
  }

  .handyman-specialty{
    background-color: #1D4BCF;
    color: white;

    font-size: 19px;

    padding-block: 10px;
    padding-inline: 30px;

    border-radius: 100px;

    margin-bottom: 5px;
  }
  .handyman-specialty:hover{
    opacity: 0.8;
  }










  .all-services-header{
    text-align: start;
    margin-left: 260px;

    margin-top: 200px;
    font-size: 30px;
    font-weight: 550;
  }
  .all-services-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: top;

    margin-top: 60px;
    margin-bottom: 60px;
    margin-inline: 260px;
  }

  .service{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;

    border-style: solid;
    border-width: 1px;
    border-radius: 12px;

    padding-inline: 10px;
    padding-top: 27px;
    padding-bottom: 10px;

    margin-bottom: 20px;
  }
  .service:hover{
    cursor: pointer;
    background: #F8F9FA;
    transition: all 0.395s;
  }

  .service-top{
    margin-block: 0px;
  }
  .service-bottom{
    margin-top: 30px;
  }
  .service-middle-bottom{
    margin-top: -5px;
  }

  .image-icon{
    height: 230px;
  }
  .service-title{
    font-size: 23px;
  }
  .service-handyman{
    background-color: white;
    color: black;

    font-size: 16px;

    padding-block: 5px;
    padding-inline: 20px;

    border-style: solid;
    border-width: 1px;
    border-radius: 100px;

    margin-bottom: 6px;
  }
  .service-handyman:hover{
    background: #F8F9FA;
  }
  .service-location{
    background-color: #1D4BCF;
    color: white;

    font-size: 16px;

    padding-block: 5px;
    padding-inline: 20px;

    border-radius: 100px;
  }
  .service-location:hover{
    opacity: 0.8;
  }
  .service-description{
    margin-top: 0;
    font-size: 15px;
  }
}