@media (min-width: 768px){
  .navbar-mobile{
    display: none;
  }
  button{
    background-color: transparent;
    border: 0;

    transition: all 0.395s;
  }
  button:hover{
    cursor: pointer;
  }
  input{
    border: 0;
  }
  input:active, input:focus{
    border: none;
    outline: none;
    box-shadow: none;
  }

  .top-section{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 23px;

    background-color: white;
  }




  .menu-button{
    color: white;

    margin-left: 61px;
    margin-right: 25px;

    padding-block: 15px;
    padding-inline: 17px;

    border-radius: 100px;
  }
  .menu-button:hover{
    background: #f3f4f6;
  }
  .logo-button{
    margin-left: 120px;
    margin-right: 100px;
  }
  .search-bar{
    flex: 1;

    display: flex;

    padding: 5px 10px;
    height: 35px;
    border-style: solid;
    border-width: 1px;
    border-radius: 100px;

    margin-left: 160px;
    margin-right: 380px;
  }
  .profile-button{
    margin-right: 100px;
  }





  .menu-icon{
    height: 28px;
    width: 28px;
  }
  .logo-img{
    border: 0;
    height: 31px;
    width: 100px;
    background-color: #1D4BCF;
  }
  .search-input{
    flex: 1;
    padding-left: 5px;
  }
  .search-input::placeholder{
    font-size: 15px;
  }
  .search-icon{
    height: 28px;
  }
  .profile-icon{
    height: 37px;
  }










  .side-section{
    position: fixed;
    top: 100px;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    width: 180px;

    margin-left: 0px;
    
  }


  .sidebar-button{
    flex: 1;
    width: 180px;
  }

  .sidebar-button:hover{
    background: #f3f4f6;
  }
  .side-icon{
    margin-bottom: 10px;
    height: 30px;
  }
}